/LabWork2/LabWork2.sln
/LabWork2/.vsconfig
/LabWork2/Binaries
/LabWork2/.vs
/LabWork2/DerivedDataCache
/LabWork2/Saved
/LabWork2/Intermediate
/LabWork3/Binaries
/LabWork3/.vs
/LabWork3/LW3.sln
/LabWork3/Saved
/LabWork3/Intermediate
/LabWork3/DerivedDataCache
/LW4/Intermediate
/LW4/LW4.sln
/LW4/.vsconfig
/LW4/Binaries
/LW4/.vs
/LW4/DerivedDataCache
/LW4/Saved
